USE [master]
GO
/****** Object:  Database [MusicStreamingApp]    Script Date: 06-07-2026 22:54:06 ******/
CREATE DATABASE [MusicStreamingApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicStreamingApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicStreamingApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicStreamingApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\MusicStreamingApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicStreamingApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicStreamingApp]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[AlbumId] [int] IDENTITY(1,1) NOT NULL,
	[AlbumTitle] [varchar](150) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[CoverImageUrl] [varchar](255) NOT NULL,
	[ReleaseYear] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[ArtistId] [int] IDENTITY(1,1) NOT NULL,
	[ArtistName] [varchar](150) NOT NULL,
	[ImageUrl] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[PlaylistId] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistName] [varchar](150) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistSongs]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSongs](
	[PlaylistSongId] [int] IDENTITY(1,1) NOT NULL,
	[PlaylistId] [int] NOT NULL,
	[SongId] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlaylistSongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PlaylistSong] UNIQUE NONCLUSTERED 
(
	[PlaylistId] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[SongId] [int] IDENTITY(1,1) NOT NULL,
	[SongTitle] [varchar](150) NOT NULL,
	[AlbumId] [int] NOT NULL,
	[ArtistId] [int] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[Genre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Artists]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_Users]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Playlists] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([PlaylistId])
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Playlists]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Songs] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([SongId])
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Songs]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([AlbumId])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Albums]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Artists] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([ArtistId])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Artists]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD CHECK  (([Genre]='Classical' OR [Genre]='Electronic' OR [Genre]='HipHop' OR [Genre]='Rock' OR [Genre]='Pop'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='User' OR [Role]='Admin'))
GO
/****** Object:  StoredProcedure [dbo].[sp_AddSongToPlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddSongToPlaylist]
(
    @PlaylistId INT,
    @UserId INT,
    @SongId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Playlists
            WHERE PlaylistId = @PlaylistId
              AND UserId = @UserId
        )
        BEGIN
            RAISERROR('Playlist not found.',16,1);
            RETURN;
        END


        IF NOT EXISTS
        (
            SELECT 1
            FROM Songs
            WHERE SongId = @SongId
        )
        BEGIN
            RAISERROR('Song not found.',16,1);
            RETURN;
        END

      
        IF EXISTS
        (
            SELECT 1
            FROM PlaylistSongs
            WHERE PlaylistId = @PlaylistId
              AND SongId = @SongId
        )
        BEGIN
            RAISERROR('Song already exists in the playlist.',16,1);
            RETURN;
        END

        DECLARE @DisplayOrder INT;

        SELECT
            @DisplayOrder = ISNULL(MAX(DisplayOrder),0) + 1
        FROM PlaylistSongs
        WHERE PlaylistId = @PlaylistId;

        INSERT INTO PlaylistSongs
        (
            PlaylistId,
            SongId,
            DisplayOrder
        )
        VALUES
        (
            @PlaylistId,
            @SongId,
            @DisplayOrder
        );

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS PlaylistSongId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAlbum]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteAlbum]
(
    @AlbumId INT
)
AS
BEGIN
 

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Album not found.',16,1);
            RETURN;
        END

        IF EXISTS
        (
            SELECT 1
            FROM Songs
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Cannot delete album. Songs exist for this album.',16,1);
            RETURN;
        END

        DELETE FROM Albums
        WHERE AlbumId = @AlbumId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteArtist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteArtist]
(
    @ArtistId INT
)
AS
BEGIN

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        IF EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Cannot delete artist. Albums exist for this artist.',16,1);
            RETURN;
        END
        DELETE FROM Artists
        WHERE ArtistId = @ArtistId;
        
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeletePlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeletePlaylist]
(
    @PlaylistId INT,
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Playlists
            WHERE PlaylistId = @PlaylistId
              AND UserId = @UserId
        )
        BEGIN
            RAISERROR('Playlist not found.',16,1);
            RETURN;
        END

        DELETE
        FROM PlaylistSongs
        WHERE PlaylistId = @PlaylistId;

        DELETE
        FROM Playlists
        WHERE PlaylistId = @PlaylistId
          AND UserId = @UserId;

        SELECT @@ROWCOUNT AS RowsAffected;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSong]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteSong]
(
    @SongId INT
)
AS
BEGIN
  

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Songs
            WHERE SongId = @SongId
        )
        BEGIN
            RAISERROR('Song not found.',16,1);
            RETURN;
        END

        IF EXISTS
        (
            SELECT 1
            FROM PlaylistSongs
            WHERE SongId = @SongId
        )
        BEGIN
            RAISERROR('Cannot delete song. It exists in one or more playlists.',16,1);
            RETURN;
        END

        DELETE FROM Songs
        WHERE SongId = @SongId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAlbumById]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAlbumById]
(
    @AlbumId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Album not found.',16,1);
            RETURN;
        END

        -- Album Details
        SELECT
            A.AlbumId,
            A.AlbumTitle as Title,
            A.ArtistId,
            AR.ArtistName,
            A.CoverImageUrl,
            A.ReleaseYear
        FROM Albums A
        INNER JOIN Artists AR
            ON A.ArtistId = AR.ArtistId
        WHERE A.AlbumId = @AlbumId;

        -- Songs
        SELECT
            SongId,
            SongTitle,
            DurationSeconds,
            Genre
        FROM Songs
        WHERE AlbumId = @AlbumId
        ORDER BY SongTitle;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAlbums]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetAlbums]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            A.AlbumId,
            A.AlbumTitle AS Title,
            A.ArtistId,
            AR.ArtistName,
            A.CoverImageUrl,
            A.ReleaseYear
        FROM Albums A
        INNER JOIN Artists AR
            ON A.ArtistId = AR.ArtistId
        ORDER BY A.ReleaseYear DESC, A.AlbumTitle;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAlbumsByArtist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetAlbumsByArtist]
    @ArtistId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            A.AlbumId,
            A.AlbumTitle as Title,
            A.ArtistId,
            AR.ArtistName,
            A.CoverImageUrl,
            A.ReleaseYear
        FROM Albums AS A
        INNER JOIN Artists AS AR
            ON A.ArtistId = AR.ArtistId
        WHERE A.ArtistId = @ArtistId
        ORDER BY A.ReleaseYear DESC, A.AlbumTitle;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetArtistById]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetArtistById]
(
    @ArtistId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        -- Artist Details
        SELECT
            ArtistId,
            ArtistName,
            ImageUrl
        FROM Artists
        WHERE ArtistId = @ArtistId;

        -- Albums of Artist
        SELECT
            AlbumId,
            AlbumTitle,
            CoverImageUrl,
            ReleaseYear
        FROM Albums
        WHERE ArtistId = @ArtistId
        ORDER BY ReleaseYear;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetArtists]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetArtists]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            ArtistId,
            ArtistName,
            ImageUrl
        FROM Artists
        ORDER BY ArtistName;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlaylistById]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPlaylistById]
(
    @PlaylistId INT,
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Verify playlist belongs to logged-in user
      IF NOT EXISTS
(
    SELECT 1
    FROM Playlists
    WHERE PlaylistId = @PlaylistId
      AND UserId = @UserId
)
BEGIN
    RETURN;
END

        -- Playlist Details
        SELECT
            P.PlaylistId,
            P.PlaylistName,
            P.UserId,
            U.UserName
        FROM Playlists P
        INNER JOIN Users U
            ON P.UserId = U.UserId
        WHERE P.PlaylistId = @PlaylistId
          AND P.UserId = @UserId;

        -- Playlist Songs
        SELECT
            PS.PlaylistSongId,
            PS.DisplayOrder,
            S.SongId,
            S.SongTitle as Title,
            AR.ArtistName,
            A.AlbumTitle as AlbumName,
            S.DurationSeconds,
            S.Genre
        FROM PlaylistSongs PS
        INNER JOIN Songs S
            ON PS.SongId = S.SongId
        INNER JOIN Albums A
            ON S.AlbumId = A.AlbumId
        INNER JOIN Artists AR
            ON S.ArtistId = AR.ArtistId
        WHERE PS.PlaylistId = @PlaylistId
        ORDER BY PS.DisplayOrder;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPlaylists]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetPlaylists]
(
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
            P.PlaylistId,
            P.PlaylistName,
            P.UserId,
            U.UserName
        FROM Playlists P
        INNER JOIN Users U
            ON P.UserId = U.UserId
        WHERE P.UserId = @UserId
        ORDER BY P.PlaylistName;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSongById]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetSongById]
(
    @SongId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Songs
            WHERE SongId = @SongId
        )
        BEGIN
            RAISERROR('Song not found.',16,1);
            RETURN;
        END

        SELECT
            S.SongId,
            S.SongTitle,
            S.AlbumId,
            A.AlbumTitle,
            S.ArtistId,
            AR.ArtistName,
            S.DurationSeconds,
            S.Genre
        FROM Songs S
        INNER JOIN Albums A
            ON S.AlbumId = A.AlbumId
        INNER JOIN Artists AR
            ON S.ArtistId = AR.ArtistId
        WHERE S.SongId = @SongId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSongs]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetSongs]
(
    @Search VARCHAR(150) = NULL,
    @Genre VARCHAR(30) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SELECT
    S.SongId,
    S.SongTitle AS Title,
    S.AlbumId,
    A.AlbumTitle AS AlbumName,
    S.ArtistId,
    AR.ArtistName,
    S.DurationSeconds,
    S.Genre
FROM Songs S
INNER JOIN Albums A
    ON S.AlbumId = A.AlbumId
INNER JOIN Artists AR
    ON S.ArtistId = AR.ArtistId
WHERE
    (@Search IS NULL OR S.SongTitle LIKE '%' + @Search + '%')
AND
    (@Genre IS NULL OR S.Genre = @Genre)
ORDER BY S.SongTitle;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAlbum]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertAlbum]
(
    @AlbumTitle VARCHAR(150),
    @ArtistId INT,
    @CoverImageUrl VARCHAR(255),
    @ReleaseYear INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF LTRIM(RTRIM(@AlbumTitle)) = ''
        BEGIN
            RAISERROR('Album Title is required.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        INSERT INTO Albums
        (
            AlbumTitle,
            ArtistId,
            CoverImageUrl,
            ReleaseYear
        )
        VALUES
        (
            @AlbumTitle,
            @ArtistId,
            @CoverImageUrl,
            @ReleaseYear
        );

        SELECT SCOPE_IDENTITY() AS AlbumId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertArtist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertArtist]
(
    @ArtistName VARCHAR(150),
    @ImageUrl VARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF LTRIM(RTRIM(@ArtistName)) = ''
        BEGIN
            RAISERROR('Artist Name is required.',16,1);
            RETURN;
        END

        IF LTRIM(RTRIM(@ImageUrl)) = ''
        BEGIN
            RAISERROR('Image URL is required.',16,1);
            RETURN;
        END

        INSERT INTO Artists
        (
            ArtistName,
            ImageUrl
        )
        VALUES
        (
            @ArtistName,
            @ImageUrl
        );

        SELECT SCOPE_IDENTITY() AS ArtistId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertPlaylist]
(
    @PlaylistName VARCHAR(150),
    @UserId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF LTRIM(RTRIM(@PlaylistName)) = ''
        BEGIN
            RAISERROR('Playlist Name is required.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Users
            WHERE UserId = @UserId
        )
        BEGIN
            RAISERROR('User not found.',16,1);
            RETURN;
        END

        INSERT INTO Playlists
        (
            PlaylistName,
            UserId
        )
        VALUES
        (
            @PlaylistName,
            @UserId
        );

        SELECT SCOPE_IDENTITY() AS PlaylistId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSong]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertSong]
(
    @SongTitle VARCHAR(150),
    @AlbumId INT,
    @ArtistId INT,
    @DurationSeconds INT,
    @Genre VARCHAR(30)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF LTRIM(RTRIM(@SongTitle)) = ''
        BEGIN
            RAISERROR('Song Title is required.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Album not found.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        INSERT INTO Songs
        (
            SongTitle,
            AlbumId,
            ArtistId,
            DurationSeconds,
            Genre
        )
        VALUES
        (
            @SongTitle,
            @AlbumId,
            @ArtistId,
            @DurationSeconds,
            @Genre
        );

        SELECT SCOPE_IDENTITY() AS SongId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginUser]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_LoginUser]
(
    @Email VARCHAR(150)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF ISNULL(LTRIM(RTRIM(@Email)), '') = ''
        BEGIN
            RAISERROR('Email is required.',16,1);
            RETURN;
        END

        SELECT
            UserId,
            UserName,
            Email,
            Role,
            PasswordHash
        FROM Users
        WHERE Email = @Email

    END TRY

    BEGIN CATCH

        THROW;

    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RegisterUser]
(
    @UserName      VARCHAR(100),
    @Email         VARCHAR(100),
    @PasswordHash  VARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS
    (
        SELECT 1
        FROM Users
        WHERE Email = @Email
    )
    BEGIN
        RAISERROR('Email already exists.',16,1);
        RETURN;
    END

    INSERT INTO Users
    (
        UserName,
        Email,
        PasswordHash,
        Role
    )
    VALUES
    (
        @UserName,
        @Email,
        @PasswordHash,
        'User'
        
    );

    SELECT
        SCOPE_IDENTITY() AS UserId,
        @UserName AS UserName,
        @Email AS Email,
        'Registration Successful' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RemoveSongFromPlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RemoveSongFromPlaylist]
(
    @PlaylistId INT,
    @UserId INT,
    @SongId INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- Verify playlist belongs to logged-in user
        IF NOT EXISTS
        (
            SELECT 1
            FROM Playlists
            WHERE PlaylistId = @PlaylistId
              AND UserId = @UserId
        )
        BEGIN
            RAISERROR('Playlist not found.',16,1);
            RETURN;
        END

        -- Verify song exists in playlist
        IF NOT EXISTS
        (
            SELECT 1
            FROM PlaylistSongs
            WHERE PlaylistId = @PlaylistId
              AND SongId = @SongId
        )
        BEGIN
            RAISERROR('Song not found in playlist.',16,1);
            RETURN;
        END

        DELETE
        FROM PlaylistSongs
        WHERE PlaylistId = @PlaylistId
          AND SongId = @SongId;

        SELECT @@ROWCOUNT AS RowsAffected;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RenamePlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_RenamePlaylist]
(
    @PlaylistId INT,
    @UserId INT,
    @PlaylistName VARCHAR(100)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Playlists
            WHERE PlaylistId = @PlaylistId
              AND UserId = @UserId
        )
        BEGIN
            RAISERROR('Playlist not found.',16,1);
            RETURN;
        END

        IF LTRIM(RTRIM(@PlaylistName)) = ''
        BEGIN
            RAISERROR('Playlist name is required.',16,1);
            RETURN;
        END

        UPDATE Playlists
        SET PlaylistName = @PlaylistName
        WHERE PlaylistId = @PlaylistId
          AND UserId = @UserId;

        SELECT @@ROWCOUNT;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAlbum]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateAlbum]
(
    @AlbumId INT,
    @AlbumTitle VARCHAR(150),
    @ArtistId INT,
    @CoverImageUrl VARCHAR(255),
    @ReleaseYear INT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Album not found.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        UPDATE Albums
        SET
            AlbumTitle = @AlbumTitle,
            ArtistId = @ArtistId,
            CoverImageUrl = @CoverImageUrl,
            ReleaseYear = @ReleaseYear
        WHERE AlbumId = @AlbumId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateArtist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateArtist]
(
    @ArtistId INT,
    @ArtistName VARCHAR(150),
    @ImageUrl VARCHAR(255)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        UPDATE Artists
        SET
            ArtistName = @ArtistName,
            ImageUrl = @ImageUrl
        WHERE ArtistId = @ArtistId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatePlaylist]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdatePlaylist]
(
    @PlaylistId INT,
    @PlaylistName VARCHAR(150)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Playlists
            WHERE PlaylistId = @PlaylistId
        )
        BEGIN
            RAISERROR('Playlist not found.',16,1);
            RETURN;
        END

        UPDATE Playlists
        SET PlaylistName = @PlaylistName
        WHERE PlaylistId = @PlaylistId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSong]    Script Date: 06-07-2026 22:54:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateSong]
(
    @SongId INT,
    @SongTitle VARCHAR(150),
    @AlbumId INT,
    @ArtistId INT,
    @DurationSeconds INT,
    @Genre VARCHAR(30)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS
        (
            SELECT 1
            FROM Songs
            WHERE SongId = @SongId
        )
        BEGIN
            RAISERROR('Song not found.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Albums
            WHERE AlbumId = @AlbumId
        )
        BEGIN
            RAISERROR('Album not found.',16,1);
            RETURN;
        END

        IF NOT EXISTS
        (
            SELECT 1
            FROM Artists
            WHERE ArtistId = @ArtistId
        )
        BEGIN
            RAISERROR('Artist not found.',16,1);
            RETURN;
        END

        UPDATE Songs
        SET
            SongTitle = @SongTitle,
            AlbumId = @AlbumId,
            ArtistId = @ArtistId,
            DurationSeconds = @DurationSeconds,
            Genre = @Genre
        WHERE SongId = @SongId;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END;
GO
USE [master]
GO
